{% render 'partials/head.liquid', uitlenen: true %}

<div class="breadcrumbs">
<a href="/instrumenten">Instrumenten </a>
{% comment %} <p>" / "</p> {% endcomment %}
 {% comment %} voor beste resultaat met een before in css de / plaatsen {% endcomment %}
<a href="/instrumenten/{{ instrument.key }}">&nbsp; / {{ instrument.key }}</a>
<p>&nbsp / Uitlenen</p>

</div>
</header>

<main class="uit-pg">
    <header class="uit-head">
        <h1>Uitlenen</h1>
        <h2>{{ instrument.name }}</h2>
    </header>

    <picture>
        <source srcset="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=avif&quality=25" type="image/avif">
        <source srcset="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=webp&quality=25" type="image/webp">
        <img class="uit-img" src="https://fdnd-agency.directus.app/assets/{{ instrument.photo }}?fit=cover&format=jpg&quality=25" alt="{{ instrument.name }}" fetchpriority="high" width="452" height="320">
    </picture>

    <form class="uit-form" action="/instrumenten/{{ instrument.key }}/uitlenen" method="POST">
        

        <label for="name" class="veld">Wie leent het?
        <input type="text" id="name" name="studentName" placeholder="Volledige naam" required></label>
        
        <input type="hidden" name="id" value="{{ instrument.id }}">
        <input type="hidden" name="key" value="{{ instrument.key }}">

        <button type="submit" class="btn-uit">
            {% if melding == 'success' %}✅ De status is aangepast!
            {% elsif melding == 'error' %}❌ Er ging iets mis!
            {% else %}Bevestig uitlening
            {% endif %}
        </button>
    </form>
</main>

<script type="module">

    const uitleenForm = document.querySelector(".uit-form")
    const uitleenBtn = uitleenForm.querySelector("button")

    uitleenForm.addEventListener("submit", async function(event) {

        event.preventDefault()

        uitleenBtn.classList.add("loading")
        uitleenBtn.textContent = "laden..."

        let formData = new FormData(uitleenForm);

        const response = await fetch(uitleenForm.action, {
            method: uitleenForm.method,
            body: new URLSearchParams(formData)
        })

        const responseData = await response.text()

        const parser = new DOMParser()
        const responseDOM = parser.parseFromString(responseData, 'text/html')

        // const newState = responseDOM.querySelector

        console.log("Loading state weghalen")
        uitleenBtn.classList.remove("loading")
        uitleenBtn.textContent = "✅ De status is aangepast!"
    })
</script>

{% render 'partials/foot.liquid' %}